html {
  scroll-behavior: smooth;
}
* {
  margin: 1rem 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
:root {
  --color: white;
  --h-color: #d6e4e5;
  --p-color: #eff5f5;
  --bg-color: #474e68;
  --btn-bg-color: #e94560;
  --alt-color: #0f3460;
  --link-color: #e94560;
  --font-size: 1.13rem;
  --button-padding: 0.5rem 1rem;
  --border: 1px solid var(--bg-color);
  --border-radius: 0.3rem;
  --muted-color: #b2b2b2;
}
body {
  /* background-color: #16213e; */
  background-color: #404258;
  color: var(--color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size);
  padding: 3rem 20%;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.6rem;
}
h6 {
  font-size: 1.4rem;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
  background-color: var(--btn-bg-color);
  color: var(--color);
  padding: var(--button-padding);
  font-size: var(--font-size);
  border: var(--border);
  border-radius: var(--border-radius);
  transition: 0.4s;
  cursor: pointer;
}
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
  background-color: transparent;
}
a {
  color: var(--link-color);
}
a:hover {
  text-decoration: none;
}
header {
  text-align: center;
  border-bottom: var(--border);
}
header a {
  text-decoration: none;
  border: var(--border);
  padding: var(--button-padding);
}

article {
  border: var(--border);
  padding: var(--button-padding);
  border-radius: var(--border-radius);
}
article > h2,
article > h3,
article > h4 {
  border-bottom: var(--border);
}
section {
  margin: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.7rem;
}
section > aside {
  border: var(--border);
  padding: var(--button-padding);
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
}
blockquote {
  border-left: 0.3rem solid var(--btn-bg-color);
  padding-left: 1rem;
}

img {
  width: 100%;
  border-radius: var(--border-radius);
}
figcaption {
  line-height: 0;
  text-align: center;
  color: var(--muted-color);
}

/*  Styling Table Start */

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid var(--btn-bg-color);
  padding: 8px;
}

tr:hover {background-color: var(--muted-color); color: var(--btn-bg-color)}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--btn-bg-color);
  color: var(--p-color);
}

/* Styling Table end */

details {
  width: 100%;
  padding: var(--button-padding);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}

summary {
  background: var(--bg-color);
  cursor: pointer;
}

/* Styling form */
form {
  width: 60%;
  margin: 2rem auto;
  padding: var(--button-padding);
  border: 3px solid var(--bg-color);
  border-radius: var(--border-radius);
}
input,
input[type="text"],
textarea,
select {
  width: 100%;
  font-size: var(--font-size);
  outline: none;
  border: 2px solid var(--bg-color);
  border-radius: var(--border-radius);
  background-color: var(--bg-color);
  padding: var(--button-padding);
}

textarea:focus,
input[type="text"]:focus {
  border: 3px solid var(--muted-color);
  background-color: var(--muted-color);
}

select {
  color: var(--p-color);
}
input[type="radio"],
input[type="checkbox"] {
  width: 5rem;
}
label {
  display: block;
  margin-left: 5px;
}
/* Form styling ends */

footer {
  margin: 3rem 0;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  border-top: var(--border);
  color: var(--muted-color);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 3%;
  }
  section {
    gap: 0.5rem;
  }

  form {
    width: 99%;
  }
}
@media only screen and (max-width: 900px) {
  body {
    padding: 1%;
  }
  section {
    gap: 0.5rem;
  }
  form {
    width: 99%;
  }
}
@media only screen and (max-width: 1100px) {
  body {
    padding: 2%;
  }
  section {
    gap: 0.5rem;
  }
}
